@import url(http://fonts.googleapis.com/css?family=Lato);


* {
	font-family: 'Lato', sans-serif !important;
}

#views-exposed-form-rooms-location-list-pane .views-exposed-widgets {
	margin-left: 145px;
}
#views-exposed-form-rooms-location-list-pane .views-exposed-form {
	margin-bottom: 50px;
	margin-top: 40px;
}
#views-exposed-form-rooms-location-list-pane .views-widget-filter-availability .form-wrapper {
	margin-top: 1.5em;
	display: inline-block;
}
#views-exposed-form-rooms-location-list-pane .form-item-rooms-start-date-date input,
#views-exposed-form-rooms-location-list-pane .form-item-rooms-end-date-date input,
#views-exposed-form-rooms-location-list-pane .form-item-field-area-tid select {
		border-radius: 2px;
		height: 42px;
		font-size: 16px;
		width: 160px;
		padding-left: 15px;
}
#views-exposed-form-rooms-location-list-pane .views-exposed-widgets label {
	padding-left: 15px;
	padding-bottom: 8px;
}
#views-exposed-form-rooms-location-list-pane .views-widget-filter-field_area_tid {
	margin-top: 42px;
}
#views-exposed-form-rooms-location-list-pane .views-submit-button input,
#views-exposed-form-rooms-location-list-pane .views-reset-button input {
	background: rgb(0, 0, 0);
	margin-top: 72px;
	height: 42px;
	width: 80px;
	background: rgb(66, 165, 243);
	border-radius: 2px;
	border: 0px;
	font-size: 18px;
	font-weight: inherit;
	color: #fff;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}
#views-exposed-form-rooms-location-list-pane #edit-submit-rooms-location {
	border-left: 1px solid #000;
}
#views-exposed-form-rooms-location-list-pane .views-submit-button input:hover,
#views-exposed-form-rooms-location-list-pane .views-reset-button input:hover {
	opacity: 0.70;
}
.views-widget-filter-availability #datepicker-start-date {
	margin-right: 0px;
}
#views-exposed-form-rooms-location-list-pane .views-exposed-widgets div {
	padding-right: 0px !important;
}
.panel-col-first .view-rooms-location .item-list li {
  display: inline-block;
  margin-top: 10px;
}
.panel-col-first .view-rooms-location .views-field-field-property-image {
  float: left;
  margin: 0 10px 10px 0;
}
.panel-col-first .view-rooms-location .views-field-field-property-image .field-content {
  border: 1px solid #000;
}
.panel-col-first .view-rooms-location .views-field-name {
  margin-left: 230px;
}
.panel-col-first .view-rooms-location .views-field-field-address {
  margin-left: 230px;
}
.panel-col-first .view-rooms-location .views-field-field-address .locality-block {
  display: inline-block;
}
.panel-col-first .view-rooms-location .views-field-field-address .country {
  display:inline-block;
}
.panel-col-first .view-rooms-location .views-field-field-availability-calendar {
  margin-left: 230px;
}
.panel-col-first .view-rooms-location div.addressfield-container-inline:after {
  content: "";
}
.panel-col-last .view-rooms-location {
	border: 1px solid #000;
}
.page-property .panel-col-last .pane-agency-demo-availability-button a,
.panel-col-first .view-rooms-location .views-field-field-availability-calendar a {
	background: rgb(66, 165, 243);
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.page-property .panel-col-last .pane-agency-demo-availability-button a:hover,
.panel-col-first .view-rooms-location .views-field-field-availability-calendar a:hover {
	opacity: 0.75;
}
.panel-col-first .view-rooms-location .views-field-field-availability-calendar .field-content {
	margin-top: 20px;
}
.page-property .panel-col-last .pane-agency-demo-availability-button {
	float: right;
}
.page-property .panel-col-last {
	margin-top: 62px;
}
.page-property .panel-col-last .pane-rooms-unit-field-property-description .pane-content {
	padding-top: 50px
}
.ui-datepicker {
	z-index: 1000 !important;
}
